<header>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                logo
            </a>
        </div>
        <div class="nav-holder">
            <nav>
                <ul class="header-nav">
                    <li><a href="about.html">About PriorityRocket</a></li>
                    <li class="current"><a href="solutions.html">Solutions</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </nav>
            <a class="button" href="#">Your priorities</a>
        </div>

        <div class="burger">
            <span class="burger-inner">
                burger
            </span>
        </div>
    </div>
</header>