<div class="content">
    <div class="tabs-nav">
        <div class="tab current">
            <span>Tag</span>
        </div>
        <div class="tab">
            <span>Score</span>
        </div>
        <div class="tab">
            <span>Describe</span>
        </div>
    </div>
    <div class="tabs-content">
        <div class="col">
            <div class="inside">
                <div class="multi-item">
                    <div class="multi-name">Location</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <!--<input type="text" data-input-name="lorem-ipsum">-->
                                <input type="text" value="lorem, ipsum" data-role="tagsinput" class="form-control" />
                            </div>
                            <!--<div class="action-part">-->
                                <!--<button class="multi-add-button">+</button>-->
                            <!--</div>-->
                        </li>
                        <!-- Added Items: -->
                        <!--<li>-->
                            <!--<div class="input-part">-->
                                <!--<input type="hidden" name="lorem-ipsum[]" value="Someval_1">-->
                                <!--<span class="multi-addd-item">Someval_1</span>-->
                            <!--</div>-->
                            <!--<div class="action-part">-->
                                <!--<button class="multi-add-button minus">-</button>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<div class="input-part">-->
                                <!--<input type="hidden" name="lorem-ipsum[]" value="Someval_2">-->
                                <!--<span class="multi-addd-item">Someval_2</span>-->
                            <!--</div>-->
                            <!--<div class="action-part">-->
                                <!--<button class="multi-add-button minus">-</button>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
                <div class="multi-item">
                    <div class="multi-name">Process</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <input type="text" data-input-name="lorem-ipsum">
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button">+</button>
                            </div>
                        </li>
                        <!-- Added Items: -->
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_1">
                                <span class="multi-addd-item">Someval_1</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_2">
                                <span class="multi-addd-item">Someval_2</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="multi-item">
                    <div class="multi-name">Equipment</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <input type="text" data-input-name="lorem-ipsum">
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button">+</button>
                            </div>
                        </li>
                        <!-- Added Items: -->
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_1">
                                <span class="multi-addd-item">Someval_1</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_2">
                                <span class="multi-addd-item">Someval_2</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="inside">
                <div class="multi-item">
                    <div class="multi-name">Regulation</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <input type="text" data-input-name="lorem-ipsum">
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button">+</button>
                            </div>
                        </li>
                        <!-- Added Items: -->
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_1">
                                <span class="multi-addd-item">Someval_1</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_2">
                                <span class="multi-addd-item">Someval_2</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="multi-item">
                    <div class="multi-name">Roles</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <input type="text" data-input-name="lorem-ipsum">
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button">+</button>
                            </div>
                        </li>
                        <!-- Added Items: -->
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_1">
                                <span class="multi-addd-item">Someval_1</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_2">
                                <span class="multi-addd-item">Someval_2</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="multi-item">
                    <div class="multi-name">Measures</div>
                    <ul class="multi-add">
                        <!-- Pattern: -->
                        <li class="pattern">
                            <div class="input-part">
                                <input type="text" data-input-name="lorem-ipsum">
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button">+</button>
                            </div>
                        </li>
                        <!-- Added Items: -->
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_1">
                                <span class="multi-addd-item">Someval_1</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                        <li>
                            <div class="input-part">
                                <input type="hidden" name="lorem-ipsum[]" value="Someval_2">
                                <span class="multi-addd-item">Someval_2</span>
                            </div>
                            <div class="action-part">
                                <button class="multi-add-button minus">-</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-holder">
    <button class="green-btn">Next</button>
</div>